# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Coverage reports
coverage/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Package manager files
.pnpm-store/

# Misc
*.log